.app__wrapper {
  background-color: var(--color-black);
}

.app__founder-content {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  text-align: justify;
}

#founder img {
  width: 77%;
}

@media screen and (max-width: 1150px) {
  .app__wrapper_info {
    margin-top: 2rem;
  }
}
